<div class="container">
    <section id="page-name">
        <h1>Eat-Da-Burger</h1>
        <img src="assets/img/burger.jpg" alt="vegBurg" width="200" height="200">
    </section>

    <section class="row">
        <div class="burgz">
            <table>
                {{#each burgers}}
                {{#unless this.devoured}}
                <form action="/burgers/update/{{this.id}}?_method=POST" method="POST">
                    <div class="form-group">
                        <ul>
                            <li>
                                {{burger_name}} <button type="submit" name="devour" value="1">Devour!</button>
                            </li>
                        </ul>
                    </div>
                </form>
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            {{#each burgers}}
            {{#if this.devoured}}
            <form action="/burgers/update/{{this.id}}?_method=POST" method="POST">
                <div>
                    <ul>
                        <li>
                            {{burger_name}}
                        </li>
                    </ul>
                </div>
            </form>
            {{/if}}
            {{/each}}
        </div>
    </section>
    <form action="/burgers/create" method="POST">
        <div class="newBurgz">
            <input type="text" name="burger_name" class="form-control text-center" maxlength="50"
                placeholder="What kinda burger next?">
            <button type="submit">Order Up!!</button>
        </div>
    </form>
</div>